
*{
	box-sizing: border-box;
}


body{
	font-family: Helvetica;
}

h1{
	text-align: center;
	font-size: 50px;
}

.box{
	background-color: lightgrey;
	margin: 30px;
	padding: 0px 0px 0px 10px;
	border-style: solid;
	border-color: solid black;
	overflow: none;

}

h2{
	font-size: 130%;
	padding: 5px;
	border-bottom: solid black;
	border-left : solid black;
	margin:  0 0 0 0;
	overflow: none;
	float: right;
	position: relative;

}


p {
	text-align: left;
	padding: 2%;
}



.chicken {
	background-color: seagreen;
	
}

.beef {
	background-color: indianred;
	
}

.sushi {
	background-color: skyblue;
	
}


@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
}	
