
*{
	background-origin: border-box;
}
.paragraphs {
	display: flex;
}
p {
	text-align: left;
	padding: 10px;
}

body{
	font-family: Helvetica;
}

section{
	background-color: lightgrey;
	margin: 30px;
	padding: 0px 0px 0px 30px;
	border-style: solid;
	border-color: solid black;
	text-align: right;

}

h1{
	text-align: center;
}

h2{
	font-size: 130%;
	padding: 0px 30px 0px 30px;
	border-bottom: solid black;
	border-left : solid black;
	margin:  0 0 0 0;

}

.chicken {
	background-color: seagreen;
	
}

.beef {
	background-color: indianred;
	
}

.sushi {
	background-color: skyblue;
	
}

@media (min-width: 992px) {
	.col-lg-4 {
	float: left;
	}
	.col-lg-4{
		width = 33%
	}
	
}

@media (min-width: 768px) and (max-width: 991px) 
	.col-md-6 {
	float: left;
	}
	
	.col-md-6{
		width: 50%;
	}

}

